<div class="jumbotron">
	<h3 class="center">Connecting you through two degrees </h3>

<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/chenangelay" data-format="inline"></script>

<div class="home_buttons">
  <div class="row">
    <div class="btn-group">

      <button class="prev btn btn-warning"> LIVE </button>
      <button class="reset btn btn-info"> WORK </button>
      <button class="next btn btn-success"> LOVE </button>
</div>
<div class="home_container">
  <div class="row">
     
    <div class="col-sm-12 image3">
      <img src="http://25ol79434c9014zg5k31c56bzux.wpengine.netdna-cdn.com/wp-content/uploads/2014/04/featured-room-divider.jpg" alt="">
    </div>
    <div class="col-sm-12 image1">
      <img src="http://www.gjel.com/01new/media/Copenhagen-Cyclists.jpg" alt="">
    </div>
    <div class="col-sm-12 image3">
      <img src="http://www.energchi.co.uk/wp-content/uploads/2013/12/find-love-berkshire.jpg" alt="">
    </div>
  </div>
</div>

