// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
	padding-top: 70px; 
}

.image2, .image3 {
	display: none;
}

.home_buttons{
	text-align: center;
}

.home_container {
	padding: 5px;
	margin: auto;
	width: 100%;
	text-align: center;
}